H1 {
    background-color: rgb(4, 255, 0);
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.notesAdder , .noteContainer{
    padding :20px;
    border: 2px solid gray;
    margin: 30px 10px 10px 10px;
    border-radius: 30px;
    
}
.notesAdder{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
}
.notesAdder form{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    gap:10px;
}
.notesAdder input, .notesAdder textarea{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 16px;
    background-color: white;
    color: black;
}

.btn{
    background-color: rgb(4, 255, 0);
    color: white;
    padding : 10px 20px;
    border :none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(0, 200, 0);
}